<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Chuck Norris</title>
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="jumbotron">
            <h1 class="display-4" th:text="'Journey Planner'">Chuck Norris Jokes</h1>
            <form th:action="@{/journey}" method="post" class="form-group">
                <label>Catogory:</label>
                <select class="form-control" name="category">
                    <option th:each="joke: ${jokes}" th:text="${joke.name}">
                </select>
                <div th:if="${category == null or #lists.isEmpty(categories)}">
                    <div class="alert alert-danger">Please select a cateogry from the list</div>
                </div>
                <input class="btn-dark btn-lg" type="submit" value="Show Jokes">
            </form>
        </div>
    </div>
</div>
<div>
    <h1 th:text="${message}"> </h1>
    <p th:each="station: ${journey}" th:text="${station.name}">
</div>
</body>
</html>